body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(252, 217, 160);
    margin: 0px;
}

h1 {
    font-size: 90px;
}

.orange-color {
    color: rgb(255, 140, 0);
}

section {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.half-width img {
    width: 80%;
    padding: 6%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/Brown\ Aesthetic\ Group\ Project\ Presentation\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 85%;
}

.about {
    background-image: url(images/_Inglés_-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 57%;
}